materials = (
    {
        # material ID, starting at 0
        ID = 0
        name = "Iron";
        # smoothing length
        sml = 171776.0
        # no. interaction partner for variable sml
        interactions = 30
        artificial_viscosity = { alpha = 1.0; beta = 2.0; };
        density_floor = 100.
        eos = {
            type = 2
            # basic properties
            shear_modulus = 105e9
            bulk_modulus = 113.5e9
            yield_stress = 10.5e9
            # Collins et al. (2004) model parameters (Note: Merely adapted from Granite below...!)
            cohesion = 90.0e7
            friction_angle = 1.11   # this is a mu_i = 2.0, via mu_i = tan(friction_angle)
            cohesion_damaged = 0.0
            friction_angle_damaged = 0.675   # this is a mu_d = 0.8, via mu_d = tan(friction_angle_damaged)
            # Tillotson EoS parameters
            @include "iron.till.cfg"
        };
    },
    {
        # material ID, starting at 0
        ID = 1
        name = "Granite";
        # smoothing length
        sml = 171776.0
        # no. interaction partner for variable sml
        interactions = 30
        artificial_viscosity = { alpha = 1.0; beta = 2.0; };
        density_floor = 10.
        eos = {
            type = 2
            # basic properties
            shear_modulus = 2.7e10
            bulk_modulus = 5.0e10
            # Collins et al. (2004) model parameters
            yield_stress = 1.5e9
            cohesion = 90.0e6
            friction_angle = 1.11   # this is a mu_i = 2.0, via mu_i = tan(friction_angle)
            cohesion_damaged = 0.0
            friction_angle_damaged = 0.675   # this is a mu_d = 0.8, via mu_d = tan(friction_angle_damaged)
            # Tillotson EoS parameters
            @include "granite.till.cfg"
        };
    }
);
