materials = (
    {
        # material ID, starting at 0
        ID = 0
        name = "basalt_.ANEOS"
        # smoothing length
        sml = 0.0
        artificial_viscosity = { alpha = 1.0; beta = 2.0; };
        eos = {
            type = 7
            # path to tabulated ANEOS data
            table_path = "../ANEOS.basalt_.table"
            # number of datapoints in rho and e direction
            n_rho = 250
            n_e = 250
            # material constants from ANEOS input file
            aneos_rho_0 = 2860.0
            aneos_bulk_cs = 5000.0
            # norm values (along with aneos_rho_0 above) - used for consistent initial conditions
            aneos_e_norm = 73042.45
            # lower limit for sound speed, if not set here 10% of aneos_bulk_cs are assumed by default
            aneos_cs_limit = 50.0
            # material constants copied from material "BasaltNakamura" or taken from Melosh(1989) (bulk_modulus) as a preliminary solution ...
            shear_modulus = 22.7e9
            bulk_modulus = 19.3e9
            yield_stress = 3.5e9
            # weibull parameters copied from material "BasaltNakamura"
            W_M = 16.0
            W_K = 1.0e61
        };
    }
);

